
    <% provide :page_title, "Log In" %>
    <% currently_at "Log In" %>

    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Log In</h1>
    </div>

    <%= render "shared/flash" %>