

    <% provide :page_title, "Edit answer" %>
    <% currently_at "Questions" %>

    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Question edit</h1>
    </div>

    <%= render "form" %>