

    <% provide :page_title, "Customer info" %>
    <% currently_at "Customers" %>

    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Edit customer info</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
    </div>

    <%= render "form" %>